.card {
    position: absolute;
    transform-origin: bottom;
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    border-color: rgb(159, 159, 159);
    width: 100%;
    height: 100%;
}

.card > .title {
    color: white;
    
    font-size: 15px;
    
    width: 100%;
    height: 10%;
    
    padding: 0;
    margin: 0;
    
    -unity-text-align: middle-center;
    white-space: normal;
}

.lost-icon {
    background-color: white;
    
    position: absolute;
    width: 100%;
    height: 5%;
    
    bottom: 0%;
}

.card-hover {
    border-color: yellow;
    border-width: 3px;
}

.card-lmb-down {
    border-color: green;
    border-width: 3px;
}

.card-minimize {
    width: 65%;
    height: 25%;
    opacity: 0.2;
}

.hand {
    width: 180px;
    height: 300px;
}

.card-overview {
    width: 320px;
    height: 500px;
}
